{% extends "header.html" %}

{% block body %}

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
          <h2>Liste deiner Maschinen</h2>
          <div class="table-responsive">
            <table class="table table-hover table-bordered">
	     <caption>Liste deiner Maschinen</caption>
              <thead>
                <tr>
                  <th>MaschinenID</th>
                  <th>Standort</th>
                  <th>Name</th>
                  <th>Laufzeit</th>
                  <th>Sonstiges</th>
                </tr>
              </thead>
              <tbody>
		{% for machine in user_machines %}
		 <tr>
		  <td><a href={{url_for('machine', _id = machine._id)}}> {{machine._id}}</a></td>
		  <td> {{machine.Standort}}</td>
		  <td> {{machine.Maschine}}</td>
		  <td> {{machine.Standort}}</td>
		  <td> {{machine.Sonstiges}}</td>
		 </tr>
                {% endfor %}
              </tbody>
            </table>	 
          </div>
        </main>
      

{% endblock %}