{% extends "header.html" %}

{% block body %}

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
          <h1>{{Name}}</h1>

          <section class="row text-center placeholders">
            <div class="col-6 col-sm-3 placeholder">
              <canvas id="UmdrehungenChart" width="200" height="200"></canvas>
              <h4>Umdrehungen</h4>
              <div class="text-muted">u/min</div>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
              <h4>Temperatur</h4>
              <span class="text-muted">°C</span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
              <h4>Geschwindigkeit</h4>
              <span class="text-muted">m/s</span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
              <h4>sonstiges</h4>
              <span class="text-muted">Something else</span>
            </div>
          </section>

          <h2>Section title</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
		<tr>
                 {% for key in werte[0] %}
		  <th>{{key}}</th>
		 {% endfor %}
		</tr>
              </thead>
              <tbody>
		{% for wert in werte %}
		 <tr>
		  {% for key,value in wert.items() %}
		   <td> {{value}}</td>
		  {% endfor %}
		 </tr>
		{% endfor %}
              </tbody>
            </table>
          </div>
        </main>
<script>
var ctx = document.getElementById("UmdrehungenChart").getContext("2d");

var myDoughnutChart = new Chart(ctx, {
    		type: 'doughnut',
    		data: data,
    		options: options
		});
</script>

{% endblock %}