{% extends "header.html" %}
{% block body %}
	<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
	 <div class="container">
	  <br>
	  <h4>Please Register:</h4>
	  <br>
		<form action="" class="form-inline" method="post">
		 <input type="text" class="form-control" placeholder = "Benutzername" name="username" value="{{request.form.username}}">
		 <input type="password" class="form-control" placeholder = "Passwort" name="password" value="{{request.form.password}}">
		 <input type="password" class="form-control" placeholder = "Passwort bestaetigen" name="password2" value="{{request.form.password2}}"> 
		<input class="btn btn-default" type="submit" value="Registrieren">
		</form>
		<p>{{error}}</p>
	 </div>
	 <div class="etc-login-form">
	  <p>  Sie besitzen bereits einen Account? <a href="/login/">Hier anmelden</a></p>
	 </div>
	</main>
{% endblock %}